{% load static %}
{% load bootstrap4 %}
{% load humanize %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="pt-br">
  <head>
    {% block head_base %}
      {% block title %}<title>Call Calculator</title>{% endblock %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="generator" content="Eduardo Alencar">
      <meta name="author" content="Eduardo Alencar">
      <meta name="description" content="Olist test">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'media/css/default.css'%}" >
    {% endblock %}
  </head>
  <body>
    <h1>README</h1>

  <table class='table table-striped table-info'>
     <thead>
      <tr>
        <th scope='col' colspan=4>Call type START - params in Call type START</th>
      </tr>
      <tr>
        <th socpe='col'>name</th><th>description</th><th>type</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>id</td><td>call id</td><td>STRING</td><td>required</td></tr>
      <tr><td>source</td><td>phone number source</td><td>STRING</td><td>required with format XXXXXXXXXX or XXXXXXXXXXX </td></tr>
      <tr><td>destination</td><td>phone number destination</td><td>STRING</td><td>required with format XXXXXXXXXX or XXXXXXXXXXX</td></tr>
      <tr><td>type</td><td>"START"</td><td>STRING</td><td>required</td></tr>
      <tr><td>timestamp</td><td>the begin time of the call</td><td>STRING</td><td>required with format 'YYYY-mm-dd HH:MM:SS'</td></tr>
    </tbody>
  </table>

  <table class='table table-striped table-info'>
    <thead>
      <tr>
        <th scope="col" colspan=4>Call type END - params in Call type END</th>
      </tr>
      <tr>
        <th socpe='col'>name</th><th>description</th><th>type</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>id</td><td>call id</td><td>STRING</td><td>required</td></tr>
      <tr><td>type</td><td>"END"</td><td>STRING</td><td>required</td></tr>
      <tr><td>timestamp</td><td>the end time of the call</td><td>STRING</td><td>required with format 'YYYY-mm-dd HH:MM:SS'</td></tr>
    </tbody>
  </table>

  <div class="alert alert-info" role="alert">
    <b>OR via console : </b>
    <ul>
      <li><i>curl —X POST -H 'Accept: application/json; indent=4'  -d 'id=130&type=START&source=998366257&destination=969521376&timestamp=2018-08-10 16:50:01' http://localhost:8000/api/call/</i></li>
    </ul>
  </div>

  <h3>View billings with period</h3>


  <table class='table table-striped table-info'>
    <thead>
      <tr>
        <th scope='col' colspan=4>Billing with period - params in Billing</th>
      </tr>
      <tr>
        <th socpe='col'>name</th><th>description</th><th>type</th>
        </tr>
    </thead>
    <tbody>
      <tr><td>source</td><td>phone number source</td><td>STRING</td><td>required with format XXXXXXXXXX or XXXXXXXXXXX </td></tr>
      <tr><td>period</td><td>period</td><td>STRING</td><td>required with format 'YYYY-mm'</td></tr>
    </tbody>
  </table>

  <div class="alert alert-info" role="alert">
    <b>OR via console : </b>
    <ul>
      <li><i>curl —X POST -H 'Accept: application/json; indent=4'  -d 'source=99988526423' http://localhost:8000/api/billings/</i></li>
    </ul>
  </div>

  <div class="alert alert-dark div-console" role="alert">
    <b>Output :</b>
    <br>
    {"result": {"billing": {"total_items": 6, "total_price": "$ 135.09", "phone_number": "99988526423", "list_call": [{"destination": "9993468278", "date_start": "2017-12-12", "time_start": "15:07:13", "id": "71", "duration": "0day(s) 0h 7m 43s", "price": "$  0.99"}, {"destination": "9993468278", "date_start": "2017-12-12", "time_start": "21:57:13", "id": "73", "duration": "0day(s) 0h 13m 43s", "price": "$  1.53"}, {"destination": "9993468278", "date_start": "2017-12-12", "time_start": "04:57:13", "id": "74", "duration": "0day(s) 1h 13m 43s", "price": "$  0.36"}, {"destination": "9993468278", "date_start": "2017-12-12", "time_start": "21:57:13", "id": "75", "duration": "1day(s) 0h 13m 43s", "price": "$ 131.13"}, {"destination": "9993468278", "date_start": "2017-12-12", "time_start": "15:07:58", "id": "76", "duration": "0day(s) 0h 4m 58s", "price": "$  0.72"}, {"destination": "9993468278", "date_start": "2017-12-12", "time_start": "22:47:56", "id": "72", "duration": "0day(s) 0h 3m 0s", "price": "$  0.36"}]}}}
  </div>

  <h3>View billings without period</h3>

  <table class='table table-striped table-info'>
    <thead>
      <tr>
        <th scope='col' colspan=4>Billing without period - params in Billing</th>
      </tr>
      <tr>
        <th socpe='col'>name</th><th>description</th><th>type</th>
        </tr>
    </thead>
    <tbody>
      <tr><td>source</td><td>phone number source</td><td>STRING</td><td>required with format XXXXXXXXXX or XXXXXXXXXXX </td></tr>
    </tbody>
  </table>

  <div class="alert alert-info" role="alert">
    <b>OR via console : </b>
    <ul>
      <li><i>curl —X POST -H 'Accept: application/json; indent=4'  -d 'source=99988526423&period=2017-12' http://localhost:8000/api/billings/</i></li>
    </ul>
  </div>

  <div class="alert alert-dark div-console" role="alert">
    <b>Output :</b>
    <br>
    {"result": {"billing": {"total_items": 6, "total_price": "$ 135.09", "phone_number": "99988526423", "list_call": [{"destination": "9993468278", "date_start": "2017-12-12", "time_start": "15:07:13", "id": "71", "duration": "0day(s) 0h 7m 43s", "price": "$  0.99"}, {"destination": "9993468278", "date_start": "2017-12-12", "time_start": "21:57:13", "id": "73", "duration": "0day(s) 0h 13m 43s", "price": "$  1.53"}, {"destination": "9993468278", "date_start": "2017-12-12", "time_start": "04:57:13", "id": "74", "duration": "0day(s) 1h 13m 43s", "price": "$  0.36"}, {"destination": "9993468278", "date_start": "2017-12-12", "time_start": "21:57:13", "id": "75", "duration": "1day(s) 0h 13m 43s", "price": "$ 131.13"}, {"destination": "9993468278", "date_start": "2017-12-12", "time_start": "15:07:58", "id": "76", "duration": "0day(s) 0h 4m 58s", "price": "$  0.72"}, {"destination": "9993468278", "date_start": "2017-12-12", "time_start": "22:47:56", "id": "72", "duration": "0day(s) 0h 3m 0s", "price": "$  0.36"}]}}}
  </div>

  <div>
    <H3>Environment used</h3>
    <ul>
      <li>Macbook Pro 13-inch ( computer )</li>
      <li>MacOS High Sierra ( OS )</li>
      <li>Sublime ( Editor )</li>
    </ul>
  </div>

  <duv>
    <H3>Author:</h3>
    <ul>
      <li>Eduardo Alencar</li>
      <li>lebas66@gmail.com</li>
    </ul>
  </div>
</body>
